<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">


        #topHeader {
            height: 98px;
            width: 100%;
            padding-top: 30px;
            background-color: #5cb85c;
            margin-bottom: 40px;
        }

        #topHeader h1 {
            font-family: Arial;
            text-align: center;
            letter-spacing: 5px;
            word-spacing: 5px;
            font-size: 30px;
            margin: 0;
            padding-top: 5px;
            color: #fff;
            font-weight: 600;
            line-height: 1.1;
        }

        .form-container {
            width: 400px;
            margin: auto;
            text-align: center;
        }

        .credits {
            border-top: 1px solid #ddd;
            margin-top: 40px;
            padding-top: 20px;
        }


    </style>
</head>
<body>
<header id = "topHeader">
<section class="col-xs-2"></section>
<section class="col-xs-8">
    <h1 >Mobile Login</h1>
</section>
<section class="col-xs-2"></section>
    
</header>