<%- include('partials/header') %>

<div class="form-container" id = "login-submit">
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post" action="/my/login">
        <p></p>
        <div style="margin-bottom: 25px " class="input-group">
            
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="login-password" type="text" class="form-control" name="password" value="" placeholder="Enter confirmation code">
        </div>
        
            <button id = "btn-goback" type="button" onclick="goBack()" class="btn btn-secondary">Go Back</button> <button type="submit" class="btn btn-success">Login</button>
        
    </form>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>


<%- include('partials/footer') %>